{
  "port": 18181,
  "printerName": "4BARCODE 4B-2054L",
  "allowedOrigins": [
    "https://emr.sytes.net:8080",
    "http://emr.sytes.net:8080",
    "http://192.168.10.240",
    "http://192.168.10.240:8080"
  ]
}
